* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    gap: 3px;
}
.container div { 
    /* border: 3px solid silver; */
}
.sidebar {
    background-color: #0891b2;
    grid-row: 1 / 3;
    display: grid;
    align-content: flex-start;
    color: #fff;
    padding: 3rem;
}
.sidebar img {
    width: 3rem;
    height: 3rem;
}
.sidebar h2 {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.sidebar h2 img {
    height: auto;
    vertical-align: middle;
}
.sidebar h4 {
    padding: 10px 10px;    
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar h4 i {
    font-size: 1.2rem;
    width: 20px;
}
.sidebar .important {
    margin-top: 4rem;
}
.header {
    background-color: #d1fae5;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
}
.header .first-section {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 1rem 4rem;
}
.first-section .search-section {
    display: flex;
    align-items: center;
}
.search-section i {
    cursor: pointer;
}
.first-section .notification-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bell-notification {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.bell-notification i {
    font-size: 2rem;
    line-height: 1;
}
.logo {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.logo.bigger {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.header .second-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 6rem;
}
.header .second-section {
    display: grid;
}
.second-section .greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.second-section .greeting .text-greeting {
    display: flex;
    flex-direction: column;
}
.first-section input {
    width: 80%;
    height: 2rem;
    background-color: #cbd5e1;
    border-radius: 14px;
    border: thin #cbd5e1;
    text-align: center;
    margin-left: 1rem;
}

.second-section .buttons {
    align-content: center;
}
.second-section .buttons button:first-child {
    margin-left: 7rem;
}
.second-section .buttons button {
    height: 50%;
    width: 6rem;
    font-weight: bold;
    margin: 0 1rem;
    color: #fff;
    background-color: #60a5fa;
    border-radius: 1rem;
    border-color: #60a5fa;
    cursor: pointer;
}
/* Main content */
.main-content {
    background-color: #94a3b8;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: .5fr 3fr 3fr;
}
.main-content > h3 {
    padding: 1rem;
    font-weight: 600;
    font-family: sans-serif;
}
.projects {
    grid-area: 2 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem; 
}
/* every project div from projects */
.project {
    padding: 26px;
    background-color: #fff;
    /* border-left: 8px solid #191c3b; */
    border-left: 8px solid #e5da86;
}
.project h4 {
    font-size: large;
    font-style:italic;
}
.project p {
    max-width: 16rem;
    color: #52525b;
}
.project .icons {
    margin-top: 3rem;
    margin-left: 16rem;
    display: flex;
    gap: 1.5rem;
}
.icons i {
    font-size: 1.4rem;
    cursor: pointer;
}
.anouncements {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #fff;
    margin-bottom: 2rem;
}
.announcements h3 {
    margin-bottom: 1rem;
}
.trending {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fff;
}
.trending h3 {
    margin-bottom: 1rem;
}